html {
  position: relative;
  min-height: 100%;
  
}

body {
  margin-bottom: 50px;
}

.post-header a:hover {
	text-decoration: none;
}

.navbar {
  background-color: white;
}

.navbar-default .navbar-brand {
	color:black;
	font-family: 'Caveat', cursive;
}

/*
h1, h2, h3{
	font-family: 'Caveat', cursive;
}
*/

@media only screen and (min-width : 330px) {
	footer nav .navbar-header {
	  line-height: 50px;
	}
}

footer .navbar {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

footer {
  bottom: 0;
  width: 100%;
  position: absolute;
}

footer nav .navbar-header {
	color: #777;
}
