<footer>
	<nav class="navbar navbar-default">
		<div class="container">
 			<div class="navbar-header">
				Copyright &copy; Alon Amsalem 2015</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/AlonAmsalem">GitHub</a></li>
					<li><a href="https://twitter.com/AlonAmsalem">Twitter</a></li>
					<li><a href="https://www.linkedin.com/in/alonam">LinkedIn</a></li>
				</ul>
			</div>
		</div>
    </nav>
</footer>